# Groq (free LLMs - console.groq.com)
GROQ_API_KEY=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

# Cloudflare Workers AI (free image gen + whisper)
CF_ACCOUNT_ID=1442961c394759cf08dffc7967bc8bc6
CF_API_TOKEN=cfut_F1FgFwkUfJEQ8uTigRozsCm3PjaqOcUuynsMHDEr86b4b39c

# Hugging Face (free segmentation + fallback)
HF_TOKEN=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